
body{
  background: #e4e4e4 ;
  font-family: 'Oswald', sans-serif;
}

.index {
    width: 98vw;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    background: black !important;
}

.nav-link {
    color: #fff !important;
}

.masthead {
    color: black;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-primary{
  background-color: #06c4e6;
  border-color: #06c4e6;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

/*cards de los turnos*/
.btn-disp{
  background-color:#011126; 
  color:white;
  border-color: white;
}
.btn-noDisp{
  background-color:#F25C5C;
  color: black;
  border-color: white;
}
/*animacion de cards*/
.btn-disp:hover{
  background:#F25C5C;
  color: black;
} 


  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
    }
    .masthead h1 {
      font-size: 5.5rem;
    }
  }
  
