{{!Pagina principal}}
{{>navbar}}
<div class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">GECIM</h1>
            <h3 class="mb-5">
                <em>Agenda tus citas médicas ahora</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/login">
                Presiona para comenzar 
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</div>