<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registro.css">
    <title>Registro Usuario</title>
</head>
<body>
    <div class=form-registro >
        <form >
            <h1 class="form-titulo">Registro</h1>
            <hr>
            <input type="text" id="fnombre" name="nombre" placeholder="Nombre" maxlength="20" required>
            <input type="text" id="fapellido" name="apellido" placeholder="Apellido" maxlength="20" required><br>
            <input type="text" id="fcedula" name=cedula placeholder="Cedula" maxlength="10" pattern="[0-9]{10}" required><br>
            <input type="email" id="fcorreo" name="correo" placeholder="Correo Electronico" maxlength="40" required><br>
            <input type="tel" id="ftelefono" name="telefono" placeholder="Teléfono" maxlength="10" pattern="[0-9]{10}" title="Ingresa un telefono valido" required><br>
            <hr>
            <input type="password" id=fpass name="password" placeholder="Contraseña" maxlength="30" required><br>
            <input type="password" id=fpass1 name="repass" placeholder="Repetir la contraseña" maxlength="30" required><br>
            <hr>
            <p class="form-p">Fecha de nacimiento:</p>
            <input id=fechaN type="date" name="fecha"  min="1910-00-00" max="2022-31-31" required>
            
            <p class="form-p">Sexo:</p>
            <button id="fsex" type="button"> <!--disabled-->
                Hombre
                <input id=h type="radio" name="sexo" value="Hombre">
            </button>
            <button id="fsex" type="button">
                Mujer
                <input id=m type="radio" name="sexo" value="Mujer">
            </button>
            <button id="fsex" type="button">
                Otros
                <input id=o type="radio" name="sexo" value="Otros">
            </button>    
            
            <hr >
            
    
            <button onclick="location.href='/'" type="button">Atras</button>
            <button type="submit">Aceptar</button>
    
        </form>
    </div>
   
    
</body>
</html>