{{>navbar}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <h2>Bienvenido/a {{user.nombre}} {{user.apellido}}</h2>
                    <p class="text-uppercase">{{user.rol}}</p>
                    <hr>
                    <h5>Puedes realizar las siguientes opciones:</h5>
                    {{#esDoctor user.rol}}
                    <a href="/turnos/verTurnoDia" class="btn btn-primary m-4">
                        Ver citas pendientes
                    </a>
                    {{/esDoctor}}
                    {{#esAdmin user.rol}}
                    <a href="/usuarios" class="btn btn-secondary m-3">
                        Gestión de Usuarios
                    </a>
                    <a href="/turnos/gesTurno" class="btn btn-secondary m-3 ">
                        Gestión de turnos
                    </a>
                    <hr>
                    <h5> Paciente:  </h5>
                    {{/esAdmin}}
                    {{!opciones de paciente}}
                    {{#esPaciente user.rol}}
                    <a href="/turnos/addTurno" class="btn btn-primary m-3">
                        Generar Turno  
                    </a>
                    <br>
                    <a href="/turnos/verTurno" class="btn btn-primary m-3">
                        Ver Turno
                    </a>
                    {{/esPaciente}}
                </div>
            </div>
        </div>

    </div>
</div>

