{{>navbar}}
<div class="col-md-4 mx-auto m-4">
    <div class="card card-body text-center">
        <h4>Usted ya tiene un turno registrado</h4>
        <hr>
        <a id="btn-conf" class="btn btn-primary m-3" href="/turnos/verTurno" >Ver turno</a>
    </div>
</div>