{{>navbar}}

{{#if turnos}}

{{else}}
<div class="col-md-4 mx-auto m-4">
            <div class="card card-body text-center">
                <h4>Usted no ha sacado un turno</h4>
                <hr>
                <a  class="btn btn-primary m-3" href="/turnos/addTurno">Agendar turnos</a>
            </div>
        </div>
{{/if}}